@import "../../../variables.scss";
.main {
    padding-top: 9%;
    text-align: center;
    .banner h2 {
        font-size: $main-heading-size;
        font-weight: 600;
        margin-top: 0;
    }
    .tagline {
        color: $color-tagline;
        font-size: $tagline-font-size;
        font-weight: normal;
        opacity: 50%;
    }
    .explore {
        display: table;
        margin: 0 auto;
        background-color: $whitecolor !important;
        color: $color-blue !important;
        margin-top: 6%;
        margin-bottom: 65px;
        box-shadow: rgb(98 100 101 / 13%) 0px 1px 10px 1px, rgb(139 139 139 / 13%) 0px 1px 3px -1px;
        width: 233px;
        height: 52px;
        border-radius: 39px !important;
        font-size: 14px !important;
        font-weight: bold;
        border: none;
        cursor: pointer;
        font-family: "Montserrat", sans-serif !important;
    }
    .explore:hover{
        background-color: $color-blue !important;
        color: $whitecolor !important;
    }

    img.main-pic {
        width: 100%;
        margin-top: -60px !important;
    }

}

@media screen and (max-width: 1200px) {
.main .banner h2 {
    font-size: 30px;
}
.main {
    padding-top: 60px;
}
}