<header>
  <div class="container">
    <div class="col">
      <div class="button-icon">
        <app-navbar></app-navbar>
      </div>
    </div>
    <div class="col col2">
      <img class="formobile" src="../../../assets/images/logo-mobile.jpg" alt="logo" />
    </div>
    <div class="col">
      <div class="search" (click)="searchservice.showSearch = true">
        <svg  version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
      viewBox="0 0 487.95 487.95" style="enable-background:new 0 0 487.95 487.95;" xml:space="preserve">
      <g>
        <g>
          <path d="M481.8,453l-140-140.1c27.6-33.1,44.2-75.4,44.2-121.6C386,85.9,299.5,0.2,193.1,0.2S0,86,0,191.4s86.5,191.1,192.9,191.1
            c45.2,0,86.8-15.5,119.8-41.4l140.5,140.5c8.2,8.2,20.4,8.2,28.6,0C490,473.4,490,461.2,481.8,453z M41,191.4
            c0-82.8,68.2-150.1,151.9-150.1s151.9,67.3,151.9,150.1s-68.2,150.1-151.9,150.1S41,274.1,41,191.4z"/>
        </g></g> <g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g>
      </svg>
      </div>
    </div>
  </div>
  <app-search *ngIf="searchservice.showSearch"></app-search>
</header>



<!-- <ng-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu Content</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">This is the menu content.</ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
<header>
  <ion-row class="container">
    <ion-col size="4" class="setsize1">
      <ion-header>
        <ion-toolbar>
          <ion-buttons class="menu" slot="start">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
    </ion-col>
    <ion-col size="4" class="setsize">
      <img class="formobile" src="../../../assets/images/logo-mobile.jpg" alt="logo" />
      <div class="logoTextParent">
        <div class="logoText">CRIOS</div>
        <div class="logoTag">FREE PSD TEMPLATE</div>
      </div>
    </ion-col>
    <ion-col size="4" class="setsize1">
        <div class="search" (click)="presentAlert()"><ion-icon name="search-outline"></ion-icon></div>
    </ion-col>
  </ion-row>
</header>
</div> -->
