<div class="main-modal">
 <div class="inner-box">
  <div class="logo-set">
    <img class="main-pic" src="../../../assets/images/logo.png" alt="logo" /> 
  </div>
  <div class="content">
    <div class="content-main-modal">
      <h2>Thanks for downloading our template!</h2>
      <p>Hope that you enjoy it well! Check also our site</p>
      <button color="secondary" class="download" (click)="modalservice.showDailog = false">
          www.symu.co
      </button>
    </div>
  </div>  
 </div>
</div>

