@import "../../../variables.scss";

.main {
  padding-top: 334px;
  text-align: center;
  .banner h2 {
      $tagline-font-size: $main-heading-size;
      font-weight: 600;
      margin-bottom: 20px;
      color: #000000;
      font-family: $font-family !important;
 }
  .tagline {
      color: $color-tagline;
      font-size: 18px;
      font-weight: $font-weight-normal;
      opacity: 30%;
      font-family: $font-family !important;
 }
  .banner {
      position: relative;
    max-width: 2000px;
    margin: 0 auto;
    width: 100%;
 }
  .btn {
      display: table;
      margin: 0 auto;
      background-color: $whitecolor !important;
      color: $color-blue !important;
      margin-top: 82px;
      margin-bottom: 30px;
      box-shadow: rgb(98 100 101 / 13%) 0px 1px 10px 1px, rgb(139 139 139 / 13%) 0px 1px 3px -1px;
      width: 233px;
      height: 52px;
      border-radius: 39px !important;
      font-size: 14px !important;
      font-weight: bold;
      border: none;
      cursor: pointer;
      font-family: $font-family !important;
      position: absolute;
      left: 0;
      right: 0;
 }
  .btn:hover {
      background-color: $color-blue !important;
      color: $whitecolor !important;
 }
  // img.main-pic {
      // margin-top: -170px;
      // 
 }

body {
  font-family:sans-serif;
  background: #dde1e7;
  min-height: 100vh;
}
.center,.content {
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
}
.click-me {
  display:block;
  width:160px;
  height:50px;
  background: #dde1e7;
  box-shadow: -3px -3px 7px #fffdfdcc,3px 3px 5px rgba(94, 104, 121, 0.342);
  text-align:center;
  font-size:22px;
  line-height:50px;
  cursor:pointer;
}
#click {
  display:none;
}
.click-me:hover {
  color: #0a5878;
}
.content {
  visibility:hidden;
  width: 330px;
  height: auto;
  background: #dde1e7;
  padding: 30px 35px 40px;
  box-sizing: border-box;
  border-radius: 5px;
}
#temp {
  position:absolute;
  right:10px;
  top:20px;
  font-size:25px;
  background: #dde1e7;
  padding: 3px;
  padding-left: 11px;
  padding-right: 11px;
  border-radius: 50%;
  cursor:pointer;
}
#click:checked~.content {
  opacity:1;
  visibility:visible;
}
.text {
  font-size: 30px;
  color: #000000;
  font-weight: 600;
  text-align: center;
  letter-spacing: 2px;
}
form {
  margin-top: 40px;
}
label {
  display: block;
  margin-top: 30px;
  font-size: 16px;
  font-weight: 500;
}
input {
  display: block;
  height: 43px;
  width: 100%;
  background-color: rgba(255,255,255,0.07);
  border-radius: 3px;
  border: none;
  margin-top: 8px;
  font-size: 14px;
  font-weight: 300;
}
::placeholder {
  color: #4b4e4d;
  padding-left: 10px;
}
button {
  width: 100%;
  margin-top: 35px;
  padding: 12px;
  background: #dde1e7;
  border: none;
  font-size: 17px;
  font-weight: 600;
  margin-bottom: 32px;
}
@media screen and (max-width: 1200px) {
  .main {
      padding-top: 240px !important;
 }
  .main .banner h2 {
      font-size: 25px;
      margin-bottom: 10px;
 }
}
@media screen and (max-width: 700px) {
  .main {
      padding-top: 130px !important;
 }
  .main .banner h2 {
      font-size: 25px;
      text-align: center;
      display: table;
      width: 100%;
 }
 img.main-pic {
  width: 100%;
  margin-top: 90px;
}
  .shadow {
      margin-top: 12px !important;
 }
}
@media screen and (max-width: 500px) {
  .main {
      padding-top: 100px !important;
 }
}
