@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

// Sass Variable

$font-family: 'Montserrat', sans-serif;
$background-color-blue: #3996e9;
$background-color-modal: #111111bd;
$border-for-search: 1px solid #ccc;
$tagline-font-size: 16px;
$main-heading-size: 48px;
$font-weight-normal: normal;
$color: #000000;
$color-tagline: #4b5863;
$color-blue: #43a9ff;
$font-size-small: 14px;
$whitecolor: #fff;
$colorRed: red;
